{% extends 'base.html' %} {% block title %} {{data.name}} {% endblock title %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center">{{data.name}}</h2>
        </div>
        <div class="card-body">
          {% if thing == 'character' %}
          <div class="mb-3 text-center">
            <h5>
              From
              <a
                class="link-success text-decoration-none"
                href="/location/{{data.origin.url[41:]}}"
                >{{data.origin.name}}</a
              >
            </h5>
            <img
              class="img-fluid rounded"
              src="{{data.image}}"
              alt="{{data.name}}"
            />
          </div>
          <div class="row">
            <div class="col-3">
              <h5>{% if data.species %} Species: {% endif %}</h5>
              <h5>{% if data.type %} Type: {% endif %}</h5>
              <h5>{% if data.gender %} Gender: {% endif %}</h5>
              <h5>{% if data.status %} Status: {% endif %}</h5>
            </div>
            <div class="col">
              <h5>{{data.species}}</h5>
              <h5>{{data.type}}</h5>
              <h5>{{data.gender}}</h5>
              <h5>{{data.status}}</h5>
            </div>
          </div>
          <h5>Episodes:</h5>
          {% for episode in data.episode %}
          <a href="/episode/{{episode[40:]}}">{{episode[40:]}}</a>
          {% endfor %} {% endif %} {% if thing == 'location' %}
          <div class="row">
            <div class="col-3">
              <h5>{% if data.type %} Type: {% endif %}</h5>
              <h5>{% if data.dimension %} Dimension: {% endif %}</h5>
            </div>
            <div class="col">
              <h5>{{data.type}}</h5>
              <h5>{{data.dimension}}</h5>
            </div>
          </div>
          <h5>Residents:</h5>
          <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-3">
            {% for resident in data.residents %}
            <div class="col text-center">
              <a href="/character/{{resident[42:]}}">
                <div class="card">
                  <img
                    class="img-fluid rounded"
                    src="https://rickandmortyapi.com/api/character/avatar/{{resident[42:]}}.jpeg"
                    alt="{{resident.name}}"
                  />
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          {% endif %} {% if thing == 'episode' %}
          <div class="row">
            <div class="col-3">
              <h5>{% if data.air_date %} Air Date: {% endif %}</h5>
            </div>
            <div class="col">
              <h5>{{data.air_date}}</h5>
            </div>
            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-3">
              {% for character in data.characters %}
              <div class="col text-center">
                <a href="/character/{{character[42:]}}">
                  <div class="card">
                    <img
                      class="img-fluid rounded"
                      src="https://rickandmortyapi.com/api/character/avatar/{{character[42:]}}.jpeg"
                      alt="{{character.name}}"
                    />
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
